---
const { translations } = Astro.props
const { lang } = Astro.params
import Ad from '../../assets/ad.json'
---

<div class="margin bg-blue/10 flex flex-col justify-center py-12 xl:py-24">

    <h2 class="text-4xl xl:text-5xl font-bold flex items-center justify-center text-center text-blue pb-12">
        Achieve the best
        <br />
        {translations.title}
    </h2>

    <span id="anyrent-scroll" class="relative" style={(Ad.is_active?"top: -10rem;":"top: -6rem;")}></span>
    <anyrent-iframe data-locale={lang}></anyrent-iframe>
    <script id="jedeyeScript" src="https://reservas.achieverentacar.com/themes/iframe/assets/vendor/anyrent-booking-engine.min.js"></script>

</div>

<script>

  const booknow = document.getElementsByClassName("booknow");
  const anyrent = document.getElementById("anyrent-scroll");
  if(booknow)
    Array.from(booknow).map((button) => {
      button.addEventListener('click', () => {
          if(anyrent)
            anyrent.scrollIntoView({
              behavior: "smooth"
            });
      });
    })

  document.addEventListener('DOMContentLoaded', () =>
  {
    const system = document.getElementById('anyrentBookingsIframe') as HTMLIFrameElement
    if (system){
      system.title = 'Anyrent Bookings System'
      system.style.borderRadius = "0.375rem"

      let firstTime = true;
      const anyrentSystemScroller = document.getElementById("anyrent-scroll");
      if(anyrentSystemScroller)
        window.addEventListener("message", function(event) {
          if (event.source === system.contentWindow) {
            if (event.data.type === "arIframeUrlChange") {

              // let newURL = event.data.url;
              // console.debug("URL mudou: " + newURL);
              // console.log(event.data);

              if(!firstTime){
                setTimeout(function(){
                  anyrentSystemScroller.scrollIntoView({
                    behavior: "smooth"
                  });
                }, 100)
              }
              firstTime = false;
            }
          }
        }, false);
    }
  });

</script>
