---
const { lang } = Astro.params;
---

<div class="margin bg-blue/10 flex flex-col justify-start gap-24 pb-24">

    <span id="anyrent-scroll" class="relative" style=" top: -6rem;"></span>

    <h2 class="text-5xl font-bold flex items-center justify-center text-center text-blue">
        Achieve the best.
        <br />
        Reserve connosco.
    </h2>

    <anyrent-iframe data-locale={lang}></anyrent-iframe>
    <script id="jedeyeScript" src="https://reservas.achieverentacar.com/themes/iframe/assets/vendor/anyrent-booking-engine.min.js"></script>

</div>

<script>

  const booknow = document.getElementsByClassName("booknow");
  const anyrent = document.getElementById("anyrent-scroll");
  if(booknow)
    Array.from(booknow).map((button) => {
      button.addEventListener('click', () => {
          if(anyrent)
            anyrent.scrollIntoView({
              behavior: "smooth"
            });
      });
    })

  let system = document.getElementById('anyrentBookingsIframe');
  if (system) {
    system.style.borderRadius = "0.375rem"
  }


</script>

<style>

    #achieve {
        text-shadow:
            1px 1px 0 #DA291C,
            -1px 1px 0 #DA291C,
            -1px -1px 0 #DA291C,
            1px -1px 0 #DA291C;
    }

</style>
