---
import Check from '../../assets/icons/check.svg'
const list = [
    "Atendimento avaliado em 5 estrelas",
    "Receba e devolva onde quiser",
    "Valor com seguro Premium incluído",
    "Sem franquia, sem cartão de crédito",
    "Quilometragem ilimitada",
    "Condutor adicional gratuito",
    "Assistência Rodoviária 24/7"
]
---

<div id="hero" class="w-full pb-44 pt-24 bg-cover margin text-white bg-center">

    <!-- Achieve Rent a Car -->
    <h2 class="text-3xl font-bold">
        <span class="text-white" id="achieve">Achieve</span>
        <span class="text-blue">Rent a Car</span>
    </h2>

    <!-- Hero Title -->
    <h1 class="text-7xl font-bold py-4">Aluguer de Carros na<br />Ilha da Madeira</h1>

    <!-- Checklist -->
    <ul class="flex flex-col gap-2 text-lg font-bold">
        {list.map((item) => <li class="flex gap-2"><img class="w-6" src={Check.src} alt="Check" />{item}</li>)}
    </ul>

    <!-- Buttons -->
    <div class="flex gap-4 py-4">
        <button class="booknow px-4 py-2 rounded-lg bg-blue">Reserve Agora</button>
        <button id="checkreviews" class="px-4 py-2 rounded-lg bg-white text-blue">Veja nossas reviews</button>
    </div>

</div>


<style>

    #hero {
        background-image: url('/src/assets/hero.webp');
    }

    @media (min-width: 768px) {
        #hero {
            background-image: url('/src/assets/hero.webp');
        }
    }

</style>
