---

---

<footer class="w-screen h-24 bg-blue flex items-center justify-between text-white margin">

    <div class="flex items-center justify-center gap-4">

        <a href="" target="_blank">
            Termos e Condições
        </a>

        <a href="" target="_blank">
            Políticas de Privacidade
        </a>

    </div>

    <p>
        © 2024 Achieve Rent A Car. Todos os direitos reservados.
    </p>

</footer>
