---
import Languages from "../assets/translations.json"

interface Params {
  lang: "en" | "pt"
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ]
}

const { lang } = Astro.params as Params
const translations = Languages.pages.footer[lang]
---

<footer class="w-screen h-24 bg-blue flex items-center justify-between text-white margin">

    <div class="flex items-center justify-center gap-4">

        <a href={"/"+lang+"/terms"} target="_blank">
            {translations.terms}
        </a>

        <a href={"/"+lang+"/policy"} target="_blank">
            {translations.policy}
        </a>

    </div>

    <p>
        {translations.rights}
    </p>

</footer>
