---
import Languages from "../assets/translations.json"
interface Props { lang: "en" | "pt" }
const { lang } = Astro.props
const translations = Languages.pages.footer[lang]
---

<footer class="w-screen h-24 bg-blue flex flex-col md:flex-row items-center justify-between text-white margin">

    <div class="flex flex-col md:flex-row items-center justify-center gap-4">

        <a href={"/"+lang+"/terms"} target="_blank">
            {translations.terms}
        </a>

        <a href={"/"+lang+"/policy"} target="_blank">
            {translations.policy}
        </a>

    </div>

    <p>
        {translations.rights}
    </p>

</footer>
