---
import Logo from "../assets/achieve.webp"
import SidebarButton from '../assets/icons/sidebar.svg'
import Navigation from "./Navigation.astro";
import Ads from './Ads.astro';
const { lang } = Astro.params;
const langPrefix = "/"+lang+"/";
---

<nav id="navbar" class="fixed top-0 left-0 w-full bg-white z-40 flex flex-col">

    <Ads />

    <div class="flex items-center justify-between py-8 margin h-24">

        <div id="logo" class="flex items-center">
            <a href={langPrefix}>
                <img src={Logo.src} alt="Achieve Rent a Car logo" />
            </a>
        </div>

        <Navigation on="navbar" class="xl:flex hidden" />

        <div id="sidebar_button_holder" class="h-24 flex items-center justify-center xl:hidden">

            <button id="sidebar_button">
                <img src={SidebarButton.src} class="w-6" alt="Click here to open the sidebar" />
            </button>

        </div>

    </div>

</nav>

<script>

  const sidebar = document.getElementById('sidebar')
  const sidebarExit = document.getElementById('sidebar_exit')
  const sidebarButton = document.getElementById('sidebar_button')

  if(sidebarButton)
    sidebarButton.addEventListener('click', () => {
        if(sidebar)
          sidebar.classList.toggle('translate-x-full')
        if(sidebarExit)
          sidebarExit.classList.toggle('hidden')
    });

</script>
