---
interface Params {
  lang: "en" | "pt"
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ]
}

import Layout from '../../layouts/Layout.astro'
import Languages from "../../assets/translations.json"
import Banner from "../../components/Banner.astro"
import Vehicle from "../../components/fleet/Vehicle.astro"
import FleetJson from '../../assets/fleet.json'

const { lang } = Astro.params as Params
const translation = Languages.pages.fleet[lang]
const fleet = FleetJson[lang]
---

<Layout>

    <Banner page="Fleet" title={translation.title} />
    <div class="grid grid-cols-3 margin">
        {fleet.map((vehicle) =>
            <Vehicle vehicle={vehicle} translation={translation} lang={lang} />
        )}
    </div>

</Layout>
