---
interface Params {
  lang: "en" | "pt";
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ];
}

import Layout from '../../layouts/Layout.astro';
import Languages from "../../assets/translations.json"

const { lang } = Astro.params as Params;
const page = Languages.pages.home[lang];

import Hero from '../../components/home/Hero.astro'
import Anyrent from '../../components/home/Anyrent.astro'
---

<Layout>
    <main class="w-full">

        <Hero />

        <Anyrent />

    </main>
</Layout>
