---
interface Params {
  lang: "en" | "pt";
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ];
}

import Layout from '../../layouts/Layout.astro';
import Languages from "../../assets/translations.json"

const { lang } = Astro.params as Params;
const translations = Languages.pages.seats[lang];
---

<Layout page={translations.title}>
    <h1 class="text-red-500">{translations.title}</h1>
</Layout>
