---
interface Params {
  lang: "en" | "pt"
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ]
}

const { lang } = Astro.params as Params
import Layout from '../../layouts/Layout.astro'
import Languages from "../../assets/translations.json"
const translations = Languages.pages.home[lang]
---

<Layout page={translations.title}>
    <main>

        <iframe src={"https://docs.google.com/viewer?srcid="+(lang=="pt"?"1NdPRs2LDqNGCGEr97lOuaMWDZGd0A8KHgLklXZEuJA0":"17T8IM_Mf5q5SfdNoZ9pZGiF-o6ErhGBnHT1zQ0le6qw")+"&pid=explorer&efh=false&a=v&chrome=false&embedded=true"} class="w-full h-screen"></iframe>

    </main>
</Layout>
