---
interface Params { lang: "en" | "pt" }
const { lang } = Astro.params as Params
export function getStaticPaths () { return [ {params: {lang: 'en'}}, {params: {lang: 'pt'}} ] }
import { addIssueToContext, any, bigint } from "astro:schema"
import Languages from "../../assets/translations.json"
const translations = Languages.pages["terms"][lang]

import Layout from '../../layouts/Layout.astro'
---

<Layout title={translations.title} lang={lang}>
    <main class="flex items-center justify-center w-screen h-screen py-2">
        <div class="w-screen h-screen overflow-auto flex flex-col">
            <object 
                data={"/"+(lang == "pt" ? "termos" : "terms")+".pdf"}
                type="application/pdf" 
                class="w-full flex-1"
            >
            </object>
            <p class="text-center p-6">If your browser can't display the PDF correctly, <a href="/terms.pdf" target="_blank" download>download it here</a></p>
        </div>
    </main>
</Layout>