---
export function getStaticPaths () {
  return [
    {params: {lang:'en', video: 'arrival'}},
    {params: {lang:'pt', video: 'arrival'}},
    {params: {lang:'en', video: 'departure'}},
    {params: {lang:'pt', video: 'departure'}},
    {params: {lang:'en', video: 'chegadas'}},
    {params: {lang:'pt', video: 'chegadas'}},
    {params: {lang:'en', video: 'partidas'}},
    {params: {lang:'pt', video: 'partidas'}}
  ]
}

interface Params { lang: "en" | "pt" }
const { lang } = Astro.params as Params

const { video } = Astro.params
import Arrival from "../../../assets/videos/arrival.mp4"
import Departure from "../../../assets/videos/departure.mp4"
import Chegadas from "../../../assets/videos/chegadas.mp4"
import Partidas from "../../../assets/videos/partidas.mp4"
let correctVideo
if(video == "arrival")
  correctVideo = Arrival
if(video == "departure")
  correctVideo = Departure
if(video == "chegadas")
  correctVideo = Chegadas
if(video == "partidas")
  correctVideo = Partidas

import Languages from "../../../assets/translations.json"
const translations = Languages.pages["video"][lang]

import Layout from '../../../layouts/Layout.astro'
---


<Layout title={translations.title} lang={lang}>
  <main class="flex items-center justify-center pt-4">
    <video controls class="w-96">
      <source src={correctVideo} />
    </video>
  </main>
</Layout>