---
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
const { lang } = Astro.params;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Achieve Rent a Car</title>
	</head>
	<body class="min-h-screen">

	   <Sidebar />
	   <Navbar />

		<main class="pt-24 min-h-screen">
		  <slot />
		</main>

    	<style is:global>

            a { @apply underline }
    	    .margin { @apply px-6 md:px-20 }
            #achieve {
                text-shadow:
                    1px 1px 0 #DA291C,
                    -1px 1px 0 #DA291C,
                    -1px -1px 0 #DA291C,
                    1px -1px 0 #DA291C;
            }

    	</style>

	</body>
</html>
